# Dependencies
node_modules/
**/node_modules/

# Production Builds
dist/
**/dist/
.next/
**/build/
web-build/

# Expo
.expo/
**/.expo/

# Environment variables
.env
.env*.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Files
.DS_Store
Thumbs.db
